efreiflix-db/node_modules
efreiflix-header/node_modules
efreiflix-shell/node_modules
efreiflix-mfe-about/node_modules
efreiflix-mfe-searchbar/node_modules
efreiflix-mfe-skeleton/node_modules
efreiflix-mfe-admin/node_modules